@import 'layout-howto';
@import 'panda-play';
@import 'panda-play-card';
@import 'card';
@import 'advert';
@import 'offer-card';
@import 'footer';
@import 'header';

$bg-z0: red;
$bg-z1: blue;

$fonts: "Comic Sans MS", cursive, sans-serif;

$mg-top: 20px;
$mg-btm: 20px;

